/* CSS for Portfolio */
/* main.css */

/* * {
    margin: 0;
    padding: 0;
} */

.topnav {
    background-color: #253a4e; /* was #333 */
    overflow: hidden;
}

#icons {
    float: right;
}

.fas, .fab {
    font-size: 1.25em;
}

/* Style the links in the nav bar */
.topnav a {
    float: left;
    display: block;
    color: white;  #f2f2f2
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#myTopnav {
    background: black;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: black;
    color: gray;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.nav-item a:hover {
    color: white;
    background: black;

}

#welcome-section {
    min-height: 70vh;
    /* background-image: url("../images/laptop.3.png"); */
    background-image: url("../images/cyber.jpg");
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 0px;
}

#welcome-section h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 7em;
    text-align: left;
}

#welcome-section h1:nth-child(1) { 
    /* color: black; */
    color: white;
    padding: .5em 0 0 0;
}

#welcome-section h1:nth-child(2) { 
    /* color:black; */
    color:white;
}

h2 {
    /* font-family: 'Montserrat', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-weight: 700;
    color: white;
    font-size: 2em;
}

#welcome-section h2 {
    /* color: whitesmoke; */
    color: orangered;
    text-align: left;
    padding-left: .25em;
    padding-bottom: .7em;
}

#projects {
    padding: 0
}

#projects h2 {
    font-size: 2em;
/*    background-color: #f7f7f7;*/
    color: black;
    padding: .5em;
    margin-top: 1em ;
    text-align: center;
    }
    
.container-3-col {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.project-tile {
    background-color: #efefef;
    margin: 1em .5em;
    padding: .8em 1.5em;
    border: .4em solid #efefef; /* was 5px */
}

.project-tile:hover {
    border: .4em solid #abb2ba;
    /* padding: 2em 2em 2em 2em; */
}

.project-tile figure img {
    max-width: 100%;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: darkgray;  /*f7f7f7 */
}

.main-footer {
    height: auto;
    margin-top: 2em;
/*    text-align: left;*/
    padding: 1em;
    line-height: 2rem;
}

.main-footer a {
    text-decoration: none;
    font-size: 1.3em;
    color: #efefef;
    margin: 0 0;
    padding: .5em;
}

.main-footer p {
    color: white;
    font-size: .8em;
}

.left {
    font-size: 2.5em;
    text-align: left;
}

#contact {
    font-size: 1.3em;
    margin: 3% 1%;
    padding: 1%;
    background-color: #efefef;
    height: 80vh;
}


// Media queries


@media (min-height: 780px) {
    #welcome-section {
        min-height: 70vh;
    }
}

@media (max-width: 1024x) {
    #welcome-section h1{
        font-size: 3em;
    }

    #welcome-section h2 {
        padding-bottom: 1em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    .project-tile {
    background-color: #efefef;
    /* margin: .5em .5em; */
    padding: .5em;
    }

    .container-3-col {
        display: grid;
        height: auto; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
    }

}

@media (max-width: 414px) {
    #welcome-section {
        min-height: 50vh;
    }
    
    #welcome-section h1:nth-child(1) { 
       padding-top: 1em;
       color: white;
    }

    #welcome-section h1 {
        font-size: 3em;
    }
    
    #welcome-section h2 {
        margin-top: 1em;
        font-size: 1.5em;
    }
    
    #welcome-section h3 {
        display: none;
    }

    .project-tile {
        margin: .5em 0 .5em 0;
        border: none;
}
    .container-3-col {
        grid-template-columns: 1fr;
    }
}