/* CSS for Portfolio */
/* main.css */

* {
    margin: 0;
    padding: 0;
}


.topnav {
    background-color: #253a4e; /* was #333 */
    overflow: hidden;
}

#icons {
    float: right;
}

/* Style the links in the nav bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: darkcyan;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/********* My old nav: ********************/
#navbar {
    width: 100vw;
    height: auto;
    background-color: #253a4e;
    padding: .4em; 
    text-align: center;
}

#navbar a {
    color: lightblue;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    
}

#welcome-section {
    background-image: url("/images/mountain.jpg");
    display: flex;
    justify-content: center;
    padding: 5%;
}

.center {
/*    position: absolute;*/
}

#welcome-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #253a4e;
    font-size: 4em;
    text-align: center;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 2em;
    text-align: center;
}


#projects h2 {
        font-size: 1.5em;
        background-color: #f7f7f7;
        color: #2C3E50;
        padding: .5em;
        margin: .1em 0;
    }
    

.container-3-col {
    display: grid;
    height: auto;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: auto;
}

.project-tile {
    background-color: #efefef;
    margin: 2em 2em;
    padding: 3em 1.5em;
    border: .5px solid black;
}


footer {
    width: 100vw;
   /* background: linear-gradient(10deg, darkgray, #253a4e); */
    background-color: #253a4e;
    text-align: center;
}

.main-footer {
    background: black;
    height: auto;
}

.main-footer a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    margin: 0 0;
    padding: .5em;
}

#resume-footer {
/*    height: 15vh;*/
    background-color: #efefef;
    margin-top: 2em;
    text-align: left;
    padding: 2em;
    line-height: 2rem;
}

#resume-footer h3 {
    color: white;
}

#resume-footer a {
    color: black;
    padding: 1em;
    text-decoration: none;
}

#resume-footer a:hover {
    opacity: .7;
    
    
}

#resume-footer p {
    color: black;
    font-size: 1em;
}


.left {
    font-size: 2.5em;
    text-align: left;
}

#contact {
    font-size: 1.3em;
    margin: 3% 1%;
    padding: 1%;
    background-color: #efefef;
    height: 80vh;
}

/*******************************************/

@media (max-width: 1025px) {

    #welcome-section h1{
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    .container-3-col {
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr;
}
    
    .project-tile {
    background-color: #efefef;
    margin: .5em .5em;
    padding: .5em;
}
}

